.menu {
    position: absolute;
    top: 21px;
    left: 12px;
} 

.drawerContent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;

    .closeButton {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .navigation {
        .navList {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 28px;
        }

        .navLink {
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            
            &:visited,
            &:active {
                color: #000;
            }
        }
    }
}
