.groups {
    .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        padding: 16px 20px;
        background-color: #FFF;
    }
}

.error {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: red;
    padding: 16px 20px;
}